<section>
  <label class="attrib-name">
    <h3>{{ localize "faserip.attributes.fighting"}}</h3>
  </label>
  <label class="attrib-name"></label>
    <h3>{{ localize "faserip.attributes.agiltiy"}}</h3>
    </label>
    <div class="atrrib-rank">
      <select name="data.rankName">
        {{#select data.rankName}}
        {{#each config.rankName as |name rank|}}
        <option value="{{type}}">{{rank}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  <label class="attrib-name">
    <h3>{{ localize "faserip.attributes.strength"}}</h3>
    </label>
    <div class="atrrib-rank">
      <select name="data.rankName">
        {{#select data.rankName}}
        {{#each config.rankName as |name rank|}}
        <option value="{{type}}">{{rank}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  <label class="attrib-name"></label>
    <h3>{{ localize "faserip.attributes.endurance"}}</h3>
    </label>
    <div class="atrrib-rank">
      <select name="data.rankName">
        {{#select data.rankName}}
        {{#each config.rankName as |name rank|}}
        <option value="{{type}}">{{rank}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
    <label class="attrib-name"></label>
    <h3>{{ localize "faserip.attributes.reason"}}</h3>
    </label>
    <div class="atrrib-rank">
      <select name="data.rankName">
        {{#select data.rankName}}
        {{#each config.rankName as |name rank|}}
        <option value="{{type}}">{{rank}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  <label class="attrib-name"></label>
    <h3>{{ localize "faserip.attributes.intuition"}}</h3>
    </label>
    <div class="atrrib-rank">
      <select name="data.rankName">
        {{#select data.rankName}}
        {{#each config.rankName as |name rank|}}
        <option value="{{type}}">{{rank}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  <label class="attrib-name"></label>
    <h3>{{ localize "faserip.attributes.psyche"}}</h3>
    </label>
    <div class="atrrib-rank">
      <select name="data.rankName">
        {{#select data.rankName}}
        {{#each config.rankName as |name rank|}}
        <option value="{{type}}">{{rank}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  </label>
</section>